body {
    font-family: sans-serif;
    display: flex;
    background-color: bisque;
    justify-content: center;
    align-items: center;
}

#submit {
    padding: 5px;
    color: white;
    background-color: cadetblue;
    border: none;
    margin-left: 10px;
}

#display {
    margin-top: 35px;
    padding: 2rem;
    background-color: dodgerblue;
    color: black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

ul {
    padding: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

span {
    font-size: 40px;
}